body{
     background-color: #eceff1;
}
	ul{
	   	list-style: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        clear: both;

       }

    li{
        float: left;
        
        top: 100;
    }
    li a{
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;

    }
    li a:hover:not(active){
        background-color: #111;
    }
    li a:active{
        background-color:#00796B 
    }

     #logo{
        width:14%;
        height:80px;
        float: left;
     }

     a h1{
        height: 50px;
        color: black;
        width: 86%;
        font-size: 50px;
        text-decoration: none;
        text-align: center;

     }


     table
     {
        width:100%;
        table-layout: auto;
        background-color: #1e88e5;
        color: #FFFFFF;
    
     }
     table,th,td{
        
        border-collapse: collapse;

     }
     td{
        text-align: center;
        padding: 10px;
     }
     tbody tr:hover{
        background: #b2dfdb;
     }
     tr:nth-child(even) {
    background-color: #42a5f5;
    }   

    .prop{
        text-transform: uppercase;
        text-decoration: none;
        text-align: left;
        font-family:"Arial Black", Gadget, sans-serif;
        color: #FFFFFF;
      }
      .val{
        text-transform: capitalize;
        text-align: right;


      }
      .thead{
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        font-family: "Times New Roman", Gadget, sans-serif;
        column-span: 4; 
        color: #FFFFFF;
        background-color: #0d47a1;
      }
      
      .parallax{
        background-image: url("pixelxl.jpg");
        height:800px;
        background-attachment: fixed;
        background-position: 0px 50px;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .parallax1{
         background-image: url("pixelxlwhite.png");
        height:800px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        clear:both;
      }
      }

      #oldprice{
        text-decoration: line-through;
        font-weight: : 100px;
        display: inline;
    }
    #newprice{
        display: inline;
        font-weight: 100px;
        display: inline;
    }
      button{
        display: block;
        float: right;
        border:none;
        color: white;
        text-align: center;
        text-decoration:none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.5s;
        cursor: pointer;

      }
      .button1{
        background-color: white;
        color: black;
        border:2px solid #008cba;

      }
      .button1:hover{
        background-color: #008cba;
        color: white;
      }
      .button2{
        background-color: white;
        color: black;
        border:2px solid #4caf50;

      }
      .button2:hover{
        background-color: #4caf50;
        color: white;
      }
      